* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    font-family: "Roboto", Helvetica, sans-serif;
}

.pokewrap {
    position: relative;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    transform: translateY(-50%) rotate(0deg);
    border-radius: 50%;
    transition: transform 300ms ease-in-out;
}

.pokewrap .top {
    position: relative;
    width: 100%;
    height: 50%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: red;
    background: linear-gradient(to top, #FF2021, #FF4546);
    z-index: 3;
    box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

.pokewrap .top:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(50%);
    background-color: #dadada;
    border: 5px solid white;
    box-shadow: 0px 0px 0px 3px black;
}

.pokewrap .bottom {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #dadada;
    background: linear-gradient(to bottom, #F7F3F2, #B9B7B8);
    z-index: 1;
    box-shadow: -2px -2px 0px rgba(0, 0, 0, 0.3) inset;
}

.pokewrap .bottom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #8B8B8B;
    transform: translateX(-50%) translateY(-50%);
}

.pokewrap .content {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    margin: auto;
    overflow: hidden;
    background-color: #2B2B2B;
    transform: translateX(-50%);
    z-index: 2;
    color: #fafafa;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    vertical-align: middle;
}

.pokewrap .content .fa {
    display: inline-block;
    width: 50px;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    color: #dadada;
    cursor: pointer;
}

.pokewrap .content .fa:hover {
    color: #fafafa;
}

.pokewrap .content .input {
    display: inline-block;
    height: 50px;
    width: 400px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    padding: 10px;
    color: #fafafa;
}

.pokewrap:hover {
    transform: translateY(-50%) rotate(360deg);
}

.pokewrap:hover .top {
    animation: topfade 1s ease-in-out 300ms;
    animation-fill-mode: forwards;
}

.pokewrap:hover .bottom {
    animation: bottomfade 1s ease-in-out 300ms;
    animation-fill-mode: forwards;
}

.pokewrap:hover .content {
    animation: open 1s ease-in-out 300ms;
    animation-fill-mode: forwards;
}

@keyframes topfade {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 0;
    }

    100% {
        bottom: 25px;
    }
}

@keyframes bottomfade {
    0% {
        top: 0;
    }

    50% {
        top: 0;
    }

    100% {
        top: 25px;
    }
}

@keyframes open {
    0% {
        width: 100px;
        height: 2px;
    }

    50% {
        width: 100px;
        height: 2px;
        margin-top: 0;
    }

    100% {
        width: 100px;
        height: 50px;
        margin-top: -25px;
    }
}